.boxcenter{
    width:80%;
    margin: 0px auto;
    background-image: linear-gradient(to bottom,#009,#00f);
    height:100vh;
}
/* viewport height, 1 tương ứng 1% của màn hình hiển thị 
    calc
*/
.login{
    width: 30%;
    height: 200px;
    background-image: linear-gradient(to bottom,rgb(237, 237, 245),rgb(247, 245, 136));
    padding-top: 100px;
    position: absolute;
    top: 20%;
    left: 35%;
    
}
form{
    width: 50%;
    position: absolute;
    top: 20%;
    left: 30%;
}
input{
    padding:10px;
    margin: 10px 0px;
}
input[type="submit"]{
    width: 70%;
    background-color: #999;
    
}